@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --font-base: "Poppins", sans-serif;
  --font-heading: "Lobster", "cursive";

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
